
.paasivubar {
    margin-right: auto;
    margin-bottom: auto;
    max-width: 900px;
    margin-left: auto;
    background-color: antiquewhite;
  }

  .hakukone{
    margin-right: auto;
    margin-left: auto;
    background-color: aqua;
    color: red;


  
  }