
.paasivubar {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  margin-top: 10px;
  }

.row{
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
  max-width: 900px;
  background-color: antiquewhite;
  margin-top: 2px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}